<html lang="en">
<head>
    <title>Practical 4: COVID-19 Data </title>
    <link rel="stylesheet" href="style.css" />
    <!-- CSU required fonts -->
    <link rel="stylesheet" href="//static.colostate.edu/fonts/proxima-nova/proxima.css" />
    <link rel="stylesheet" href="http://static.colostate.edu/fonts/proxima-nova/proxima.css" />
    <link rel="stylesheet" href="http://static.colostate.edu/fonts/factoria/factoria.css" />

</head>
<body>
    <h1>Practical 4: COVID-19 Data: USA, Italy, and Japan Comparison</h1>
    <div class="content">
    <p>The following tables are data pulled from the the WHO database on COVID-19. Data source
        can be found on the <a href="https://covid19.who.int/">WHO COVID Website</a>.</p>

{{who-table country:US,IT,JP cumulative:true}}

    </div>

</body>
</html>